<div class="ui container">
<h1>Plants</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Plant Id</th>
      <th>Name</th>
      <th>Unit price</th>
      <th>Arrival date</th>
      <th>Condition</th>
      <th>Recovery date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <% if plant.condition != "dead" && plant.sold != true %>
      <tr>
        <td><%= plant.id %></td>
        <td><%= plant.name %></td>
        <td>$<%= plant.unit_price %></td>
        <td><%= plant.arrival_date.month %>/<%= plant.arrival_date.day %>/<%= plant.arrival_date.year %></td>
        <td><%= plant.condition %></td>
        <td><%= plant.is_recovered  %></td>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
       <% else %>
       <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>

<br>
<h1>Sold</h1>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Plant Id</th>
      <th>Name</th>
      <th>Unit price</th>
      <th>Arrival date</th>
      <th>Recovery date</th>
      <th>Price</th>
      <th>Profit</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <% if plant.sold == true %>
      <tr>
        <td><%= plant.id %></td>
        <td><%= plant.name %></td>
        <td>$<%= plant.unit_price %></td>
        <td><%= plant.arrival_date.month %>/<%= plant.arrival_date.day %>/<%= plant.arrival_date.year %></td>
        <td><%= plant.is_recovered %></td>
        <td>$<%= plant.price %></td>
        <% money = plant.price - plant.unit_price %>
        <td>$<%= money %></td>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
      </tr>
      <% else%>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<h1>Dead</h1> 
<table class="ui celled table">
  <thead>
    <tr>
      <th>Plant Id</th>
      <th>Name</th>
      <th>Unit price</th>
      <th>Arrival date</th>
      <th>Recovery date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <% if plant.condition == "dead" %>
      <p></p>
      <tr>
        <td><%= plant.id %></td>
        <td><%= plant.name %></td>
        <td>$<%= plant.unit_price %></td>
        <td><%= plant.arrival_date.month %>/<%= plant.arrival_date.day %>/<%= plant.arrival_date.year %></td>
        <td><%= plant.is_recovered %></td>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
      </tr>
      <% else%>
      <% end %>
    <% end %>
  </tbody>
</table>

</div>