<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @plant.order_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @plant.unit_price %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @plant.arrival_date.month %>/<%= @plant.arrival_date.day %>/<%= @plant.arrival_date.year %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @plant.condition %>
</p>

<p>
  <strong>Recovery date:</strong>
  <%= @plant.is_recovered%>
</p>


<p>
  <strong>Sold:</strong>
  <%= @plant.sold %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plant.price %>
</p>

<% if @plant.avatar.attached?%>
  <img src="<%=(url_for(@plant.avatar))%>">
<% end %>  

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
