<div class="ui container">

<p>
  <strong>Seller:</strong>
  <%=  @plant.order.seller_name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @plant.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @plant.unit_price %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @plant.arrival_date.month %>/<%= @plant.arrival_date.day %>/<%= @plant.arrival_date.year %>
</p>


<p>
  <strong>Days In Box:</strong>
    <%= %"#{@plant.days_in_box} days" %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @plant.condition %>
</p>

<p>
  <strong>Recovery date:</strong>
  <%= @plant.recovered?%>
</p>

<% if @plant.sold == true %>
<p>
  <strong>Sold:</strong>
  <%= @plant.sold %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plant.price %>
</p>
<% else %>
<% end %>

 <% if @plant.avatar.attached? %>
   <%= image_tag @plant.avatar %>
<% end %>
<br/>

<% @plant.plant_notes.each do |note|%>
<p><strong>Title:</strong> <%= note.title %></p>
<p><strong>Date:</strong> <%= note.note_date %></p>
<p><strong>Note:</strong> <%= note.text_field %></p>
<% if note.plant_image.attached? %>
   <%= image_tag note.plant_image %>
<% end %>
<% end %>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
</div>