<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @plant_note.title %>
</p>

<p>
  <strong>Note date:</strong>
  <%= @plant_note.note_date %>
</p>

<p>
  <strong>Text field:</strong>
  <%= @plant_note.text_field %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @plant_note.plant_id %>
</p>

<% if @plant_note.plant_image.attached? %>
   <%= image_tag @plant_note.plant_image %>
<% end %>

<%= link_to 'Edit', edit_plant_note_path(@plant_note) %> |
<%= link_to 'Back', plant_notes_path %>
